<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- AndroidManifest.xml 文件包含了應用程序的各種基本信息，如組件聲明、權限要求等 -->
    <application
        android:label="ntpc_garbage_map"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- 主 Activity 聲明 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- 指定在 Android 進程啟動後立即套用於此 Activity 的 Android 主題。
                 在 Flutter UI 初始化期間，用戶可以看到此主題。
                 之後，此主題繼續決定 Flutter UI 後方的窗口背景。 -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <!-- 定義應用的入口點，使其顯示在系統啟動器中 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 不要刪除下面的元數據。
             Flutter 工具使用它來生成 GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- 需要查詢可以處理文本的活動，請參見：
         https://developer.android.com/training/package-visibility 和
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         特別是，這被 Flutter 引擎中的 io.flutter.plugin.text.ProcessTextPlugin 所使用。 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
